body {
    background-image: url("../images/vintage-concrete.png");
}

/* CSS for Character Selection Screen */
.hero-selection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 400px 50px;
    grid-gap: 10px;
    padding: 10px;
    
}
.mage {
    background-image: url(../images/mage.jpg);
    background-size: 100%;
    
}
.vampire {
    background-image: url(../images/vampire.jpg);
    background-size: 100%;
    
}
.warrior {
    background-image: url(../images/warrior.jpg);
    background-size: 100%;
    
}

.hero-btn:hover {
    transform: scale(1.05);
    background-color: #359AAC;
    
    
}

/* CSS for Game page */
#game-box {
    width: 980px;
    height: 800px;
    background: linear-gradient(45deg, #444, white, #444);
    margin: auto;

}

#grid-container {
    margin: 0 32.8px 0 32.8px;
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(6, 125px);
    grid-template-rows: 125px;
    grid-column-gap: 32.8px;
}
.grid {
    border: 5px solid #AB6E02;
    border-radius: 10px;
    background-image: url(../images/question-mark.jpg);
    background-size: 100%;
    box-shadow: 10px 10px 5px grey;
}
.grid:hover {
    background-image: url(../images/question-mark-orange.jpg);
    transform: scale(1.1);
}

#player-card{
    
    border-radius: 10px;
    float: left;
    width: 400px;
    height: 400px;
    margin: 32.8px 0 32.8px 32.8px    
}
#sword {
    width:80px;
    left: 520px;
    position: absolute;
    top: 350px;
    margin:5px;    
}
#enemy-card{
    float:right;
    border-radius: 10px;
    margin: 32.8px 32.8px 32.8px 0;
    height: 400px;
    width: 400px;
}
.stats{
    display: inline-block;
    width: 80%;
    position: relative;
    top: 10px;
    left: 8%;
    border: 5px solid #AB6E02;
}

.portrait {
    border:5px solid #359AAC;
    width: 200px;
    height: 250px;
    margin: 20px auto 5px auto;
    background-size: 100%;
   
}

.game-card {
    background-image: url(../images/parchment-paper.jpg);
    background-size: 100%;
    border: 5px solid #359AAC

}
.action-box {
    position: relative;
    width: 400px;
    height: 200px;
    display:inline-block;
    border: 5px solid black;
}
.log-box {
    position: relative;
    width: 400px;
    height: 200px;
    display: inline-block;
    border: 5px solid black;
}